body {
  font-family: arial;
  font-size: 1.2em;
}

h3 {
  margin: 5px;
}

#restart {
  font-size: 0.8em;
  float: right;
  width: 10%;
  padding: 10px;
  display: inline-block;
  border: 2px solid black;
  text-align: center;
  background-image: -moz-linear-gradient(top, #FFF, #DDD);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#DDD));
  background-image: -webkit-linear-gradient(top, #FFF, #DDD);
  background-image: -o-linear-gradient(top, #FFF, #DDD);
  background-image: linear-gradient(to bottom, #FFF, #DDD);
}

#white_card {
  color: white;
  visibility: hidden;
  word-wrap: break-word;
  padding: 20px;
  margin: 30px auto;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-image: -moz-linear-gradient(top, #000, #333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), 333(#DDD));
  background-image: -webkit-linear-gradient(top, #000, #333);
  background-image: -o-linear-gradient(top, #000, #333);
  background-image: linear-gradient(to bottom, #000, #333);
}

button {
  padding: 30px;
}

.card_select {
  float: left;
  font-size: 0.8em;
  word-wrap: break-word;
  visibility: hidden;
  width: 100px;
  height: 140px;
  margin: 0 5px;
  padding: 15px;
  display: inline-block;
  border: 2px solid black;
  text-align: center;
  background-image: -moz-linear-gradient(top, #FFF, #DDD);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#DDD));
  background-image: -webkit-linear-gradient(top, #FFF, #DDD);
  background-image: -o-linear-gradient(top, #FFF, #DDD);
  background-image: linear-gradient(to bottom, #FFF, #DDD);
}

#player_container {
  width: 50%;
  margin: 0 auto;
}

.player_select {
  width: 10%;
  margin: 0 auto;
  padding: 10px;
  display: inline-block;
  border: 2px solid black;
  text-align: center;
  background-image: -moz-linear-gradient(top, #FFF, #DDD);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#DDD));
  background-image: -webkit-linear-gradient(top, #FFF, #DDD);
  background-image: -o-linear-gradient(top, #FFF, #DDD);
  background-image: linear-gradient(to bottom, #FFF, #DDD);
}

#player_cards {
  width: 1008px;
  margin-left: auto;
  margin-right: auto;
}

#pass_around {
  visibility: hidden;
  font-size: 0.8em;
  margin-top: -20px;
  margin-bottom: -40px;
  margin-left: auto;
  margin-right: auto;
  width: 288px;
  padding: 10px;
  border: 2px solid black;
  text-align: center;
  background-image: -moz-linear-gradient(top, #FFF, #DDD);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#DDD));
  background-image: -webkit-linear-gradient(top, #FFF, #DDD);
  background-image: -o-linear-gradient(top, #FFF, #DDD);
  background-image: linear-gradient(to bottom, #FFF, #DDD);
}

#score {
  visibility: hidden;
  clear: both;
}

