<h3>Here's the new message someone posted to get into contact with you:<h3>

<h5>Name:</h5>
<%= @message.name %>

<h5>Email for replies:</h5>
<%= @message.email %>

<h5>Message:</h5>
<%= @message.message %>

<p>Have a wonderful day, me. ^._.^</p>
