// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project_index {
  width: 100%;
  margin: 0 auto;
}

.project_pic {
  padding-bottom: 20px;
  float: left;
  clear: both;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.project_text {
  padding-top: 40px;
  width: 200px;
  text-align: center;
  float: right;
}

#project_name {
  font-weight: bold;
}

#new_project {
  clear: both;
}
