<h1>Testimonials for Nicholas</h1><br>

  <h4><strong>Dave Puterbaugh</strong></h4>
  <h6><i>General Manager; Sound Sleep Products</i></h6>
    <p>"All of us here in management were very impressed by what we saw. Because we do not have an IT department, we approached Nick to help us with our company web page. So far, we are very happy with the results. Because Nick has spent time out in stores working with our dealers and their customers, Nick understands what consumers want to know about our products. We like the format, the ease of navigation and the concise amount of information available."<br><br>"I hope that Nick finds a great future in the web design field. He is certainly smart enough, capable enough and enthusiastic enough to excel."</p><br>

  <h4><strong>Brook Riggio</strong></h4>
    <h6><i>Ruby on Rails Instructor; Code Fellows</i><h6>
      <p>(Pending)</p><br>

  <h4><strong>Ivan Storck</strong></h4>
    <h6><i>Ruby on Rails Instructor; Code Fellows</i><h6>
      <p>(Pending)</p>
