<h1>Testimonials for Nicholas</h1><br>

  <h4><strong>Brook Riggio</strong></h4>
  <h6><i>Ruby on Rails Instructor; Code Fellows</i></h6>
    <p>"Nick is exactly the kind of student that teachers hope for. He eagerly tackled even the toughest assignments, zipping right through the others. He speedily became adept with Ruby on Rails. His curiosity leads him to constantly seek out greater challenges ("Mergesort? Sure! Quicksort? OK!") and find new edges of his knowledge to explore deeper."<br><br>"Luckily for me, Nick volunteered to TA for me. In this capacity, I got to see how well Nick works with others. His joy for code was contagious, and an inspiration to my other students. He took on significant responsibilities, and kept seeking out new ways to contribute."<br><br>"It's been an honor to get to witness Nick's transformation into a very capable web developer and life-long coder."</p><br>

  <h4><strong>Dave Puterbaugh</strong></h4>
  <h6><i>General Manager; Sound Sleep Products</i></h6>
    <p>"All of us here in management were very impressed by what we saw. Because we do not have an IT department, we approached Nick to help us with our company web page. So far, we are very happy with the results. Because Nick has spent time out in stores working with our dealers and their customers, Nick understands what consumers want to know about our products. We like the format, the ease of navigation and the concise amount of information available."<br><br>"I hope that Nick finds a great future in the web design field. He is certainly smart enough, capable enough and enthusiastic enough to excel."</p><br>


  <h4><strong>Ivan Storck</strong></h4>
    <h6><i>Ruby on Rails Instructor; Code Fellows</i><h6>
      <p>(Pending)</p>
