<!DOCTYPE html>
<html>

<%= render 'layouts/header' %>

<body>

<%= render 'layouts/nav' %>

<br>
<% flash.each do |key, value| %>
  <h3><%= value %></h3>
<% end %>

<div class="container" %>
  <%= yield %>
</div>

</body>
</html>
